@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Noto Serif", serif;
}

@theme {
  --color-primary: #1F3A5F;          /* державний темно-синій */
  --color-bg: #F1F4F4;               /* світло-сірий фон */
  --color-hover-button: #162A45;     /* затемнений primary */
  --color-border-button: #2E4A6F;    /* стриманий контур */
  --color-title: #0F1F33;            /* графітовий заголовок */
  --color-subTitle: #3A4A5E;         /* вторинний текст */
  --color-text: #4A5568;             /* основний текст */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}