@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Noto Serif", serif;
}

@theme {
  --color-primary: #29D3DA;
  --color-dark: #383737;
  --color-white: #fff;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}